# Supabase Configuration
VITE_SUPABASE_URL=https://zstouhckqlbtpzwuwesl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpzdG91aGNrcWxidHB6d3V3ZXNsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM2ODAxNDEsImV4cCI6MjA3OTI1NjE0MX0.K71jeWS1hO4DZ-7u5w7zKpw3nZbRqQlPmUFj87XnC-Q
