@import "tailwindcss";

@theme {
  /* Enregistrement de vos 4 couleurs fixes dans Tailwind */
  --color-primary: #681BEF;
  --color-primary-dark: #2d0c69;
  --color-secondary: #6F3EF4;
  --color-brand-orange: #F8A128;
  --color-brand-pink: #FF5EAE;

  /* Définition des couleurs de fond qui changent */
  --color-main-bg: #FFFFFF;
  --color-main-text: #0F172A;
}

/* Gestion du Dark Mode pour l'arrière-plan */
@layer base {
  :root {
    --main-bg: #FFFFFF;
    --main-text: #0F172A;
  }

  /* Si la classe .dark est présente sur le <html> ou <body> */
  .dark {
    --main-bg: #0B0F1A;
    /* Ton fond sombre */
    --main-text: #F8FAFC;
  }

  body {
    background-color: var(--main-bg);
    font-family: 'Montserrat', sans-serif;
    color: var(--main-text);
    transition: all 0.3s ease;
  }
}

.headline-primary {
  @apply text-5xl font-extrabold uppercase text-primary text-center;
}

.headline-small {
  @apply text-primary uppercase;
}

.button-primary {
  @apply px-4 flex gap-2 items-center justify-center py-2 rounded-lg border-2 border-primary hover:border-primary-dark text-white font-bold uppercase bg-primary hover:bg-primary-dark transition-colors disabled:opacity-50 cursor-pointer;
}

.input-base {
  @apply px-3 py-2 text-sm bg-white outline-2 outline-slate-200 focus:outline-primary rounded-lg hover:bg-gray-50 transition-colors cursor-pointer text-left flex items-center justify-between;
}

.button-secondary {
  @apply px-4 flex gap-2 items-center justify-center py-2 rounded-lg border-2 border-primary text-primary font-bold uppercase hover:bg-primary hover:text-white transition-colors disabled:opacity-50 cursor-pointer;
}

.button-cancel {
  @apply px-3 py-2 rounded-lg border-2 border-slate-200 font-bold text-gray-600 hover:bg-gray-50 transition-colors cursor-pointer;
}